.prediction {
  margin-bottom: 5px;
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
}

.predicted-element {
  border: dotted 2px #a3d8e5;
  margin-left: 15px;
}

.predicted-element p {
  padding: 8px;
  margin: 0;
}

.positive-label {
  margin-bottom: 5px;
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #3092ab;
}

.negative-label {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #BD3951;
}

.positive-label img {
  width: 20px;
  height: 20px;
  margin-right: 12px;
}

.negative-label img {
  width: 15px;
  height: 15px;
  margin-right: 12px;
  margin-left: 3px;
}

.stage-content {
    display: block;
}

.tutorial-icon {
  width: 25px;
  height: 25px;
  margin-left: 5px;
  margin-bottom: -5px;
}

.tutorial-dialog-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0px;
  gap: 5px;
  background: #161616;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}