.data_text {
    flex: none;
    width: calc(100% - 140px);
    margin: 0 !important;
    font-size: 15px;
    min-height: 25px;
    line-height: 20px;
}

.nodata_text {
    flex: none;
    width: 100%;
    margin: 0 !important;
    font-size: 15px;
    line-height: 20px;
    min-height: 25px;
}

.hovbtn {
    margin: 0;
    display: none;
}

.resultbtn {
    margin-left: 5px;
    display: inline-block;
}

.text_predict,
.text_normal,
.text_focus {
    color: #161616 !important;
    border: solid 2px transparent;
    outline: none;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
    margin-bottom: 10px;
}

.text_predict {
    border: dotted 2px #a3d8e5;
}

.text_normal:hover,
.text_predict:hover,
.text_focus {
    background: none;
    color: #000 !important;
    animation: elem 5s;
}

@keyframes elem {
    from {background-color: white;}
    to {background-color: yellow;}
  }

.checking_buttons {
    justify-content: flex-end;
    margin-bottom: 0;
}

.checking_buttons img{
    width: 25px;
    height: 25px
}

.checking_buttons button {
    background: none !important;
    padding: 0 !important;
    border-radius: 0 !important;
}

.checking_buttons button:hover img {
    background: #d5d5d5 !important;
}

.text_normal:hover .hovbtn,
.text_predict:hover .hovbtn,
.text_focus:hover .hovbtn{
    margin-left: 5px;
    display: inline-block;
}