.main_content {
    position: fixed;
    left: 280px;
    right: 50px;
    top: 80px;
    bottom: 0;
    overflow: none;
}

.doc_header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 60px;
    border-bottom: solid 1px #d5d5d5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.doc_content{
    position: absolute;
    left: 0;
    right: 0;
    top: 60px;
    bottom: 0;
    overflow-y: scroll;
    padding: 15px 30px;
}
.doc_button_disabled,
.doc_button {
    border: none;
    padding: 0;
    display: flex;
    background: none;
    justify-content: center;
    align-items: center;
}

.doc_button img {
    width: 24px;
    height: 24px;
}

.doc_button:hover {
    opacity: 0.5;
    cursor: pointer;
}

.doc_button_disabled img {
    width: 24px;
    height: 24px;
    opacity: 0.1;
}

.doc_stats {
    text-align: center;
}

.doc_stats h6{
    display: block;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    margin: 0;
    padding: 0;
}

.doc_stats em {
    display: block;
    font-size: 12px;
    line-height: 14px;
    margin: 0;
    padding: 0;
    opacity: 0.5;
}

.pagination {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 30px;
    top: auto;
    display: flex;
    justify-content: center;
}