
.container{
    position: fixed;
    left: 0;
    right: 0;
    top: 50px;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    overflow: auto;
    justify-content: space-between;
    align-items: center;
}
 
.newdata {
    height: 100%;
    background: #dedede;
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-left: dotted 1px #b5b5b5;
}

.sleuth_header {
    display: flex;
    align-items: center;
    padding: 12px;
    background: #393939;
    color: #fff;
    border-right: solid 1px #161616;
}

.hexagon {
    /* clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%); */
    height: 500px;
    width: 400px;
    max-height: 500px;
    max-width: 400px;
    background-color: white;
    flex-basis: 50%;
    border: 1px solid #f48c06;
    border-radius: 5px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}
 
.text-upload  {
    color: rgb(0 0 0 / 38%);
    font-family: "Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 1.4375em;
    padding: 0;
    position: relative;
    margin: 8px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.title-workspace-config{
    color:'#f48c06'
}

.wrapper {
    background: #f4f4f4;
    margin: 0 5px;
    border-right: solid 1px #8d8d8d;
    border-bottom: solid 1px #8d8d8d;
    border-top: solid 1px #eaeaea;
    border-left: solid 1px #eaeaea;
}

/* .wrapper button {
    opacity: 0;
}

.wrapper:hover button{
    opacity: 1;
} */