
.container{
    height: 99vh;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    left: 0;
    right: 0;
    /* margin: 100px 50px 100px 50px; */
    border:1px solid rgb(246, 250, 252);
    border-radius: 10px;
    background-color: rgb(246, 250, 252);
    background-color: white;
    overflow: auto;
    justify-content: center;
    align-items: center;
    
}
.hexagon {
    /* clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%); */
    margin: 10px 10px;
    height: 320px;
    width: 320px;
    max-height: 320px;
    max-width: 320px;
    background-color: rgb(232, 240, 254);
    flex-basis: 50%;
    display: flex;
    flex-flow: column;
    border-radius: 10px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    flex: 1 1 1000px;
    margin: 0 100px 10px 100px;
}
.text-upload  {
    color: rgb(0 0 0 / 38%);
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 1.4375em;
    padding: 0;
    position: relative;
    margin: 8px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}


