.text_predict,
.text_confused {
    border: dotted 2px #d6d6d6 !important;
    color: #161616 !important;
    border: solid 2px transparent;
    outline: none;
    padding: 20px 10px 10px 10px;
    margin: 10px;
    position: relative;
    border-radius: 0 !important;
    box-shadow: none !important;
}
 
.text_predict {
    border: dotted 2px #a3d8e5 !important;
}

.text_predict:hover,
.text_confused:hover{
    background: #f4f4f4;
}

.text_predict:hover .hovbtn,
.text_confused:hover .hovbtn {
display: inline-block;
  }

.text_predict button ,
.text_confused button {
    border-radius: 0 !important;
}

.text_predict p, 
.text_confused p {
    margin: 15px 0;
    font-size: 14px !important;
    line-height: 18px !important;
}

.rec_doc_id {
    display: flex;
    left: 0;
    top: 0;
    padding: 3px 6px;
    background: #e2e2e2;
}

.elem_text{
    padding: 1px 10px 1px 10px;
}

.hovbtn {
    margin: 0;
    display: none;
}

.resultbtn {
    margin-left: 5px;
    margin-top:5px;
    display:  inline-block;
}
 
.recommend_buttons {
    justify-content: flex-end;
}

.recommend_buttons img{
    width: 25px;
    height: 25px
}

.recommend_buttons button {
    background: none !important;
    padding: 0 !important;
    border-radius: 0 !important;
}

.recommend_buttons button:hover img {
    background: #d5d5d5 !important;
}

.search-results{
    position: absolute;
    left: 0;
    right: 0;
    top: 100px;
    bottom: 0;
    overflow-y: scroll;
}

.top_nav_icons {
    width: 32px;
    height: 32px;
    padding: 5px !important;
    background: none !important;
    border-radius: 2px !important;
}

.top_nav_icons img {
    width: 100%;
    height: 100%;
}

.top_nav_icons:hover {
    background: #d6d6d6 !important;
}